<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src='./example.js'></script>
  </head>
  <body >
    <div ng-controller='DemoCtrl' >
      <p>{{name}}</p>
      <p>Nothing here {{'yet' + '!'}}</p>
    </div>
    <p>{{name}}</p>

  </body>
</html>
